# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# Build output
build/
!**/src/main/**/build/
!**/src/test/**/build/

# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

# VS Code
.vscode/

# macOS
.DS_Store

# Archives and Compressed files
*.7z
*.a
*.ace
*.afa
*.alz
*.apk
*.ar
*.arj
*.b1
*.ba
*.bh
*.bz2
*.cab
*.car
*.cfs
*.cpio
*.cpt
*.dar
*.deb
*.dd
*.dgc
*.dmg
*.ear
*.egg
*.exe
*.gca
*.gem
*.gz
*.gzip
*.ha
*.hki
*.ice
*.ini
*.iso
*.jar
*.kgb
*.lha
*.lbr
*.lzh
*.lzx
*.mar
*.msi
*.msm
*.msp
*.pak
*.partimg
*.pea
*.pim
*.pit
*.qda
*.rar
*.rk
*.rpm
*.s7z
*.sda
*.sea
*.sen
*.shar
*.shk
*.sit
*.sitx
*.tar
*.tgz
*.txz
*.xar
*.xpi
*.xz
*.zip

# Miscellaneous
*.build
*.apples
*.basic